@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .btn {
    @apply shadow-lg shadow-primary/50;
  }

  .products-totals {
    @apply w-full inline-flex flex-nowrap overflow-hidden
  }

  .products-item {
    @apply flex items-center justify-center md:justify-start animate-infinite-scroll *:cursor-pointer
  }

  .accordion-item {
    @apply [&_button]:px-4 [&_button]:bg-tertiary-green [&_svg]:text-black font-semibold [&_section]:px-4 [&_span]:text-xs sm:[&_span]:text-sm lg:[&_span]:text-base [&_section]:font-medium [&_section]:text-xs sm:[&_section]:text-sm lg:[&_section]:text-base
  }
}

@layer components {
  .title-huerta {
    --minFontSize: 2rem;
    --maxFontSize: calc(var(--minFontSize) * 8);
    --scaler: 20vw;
    font-weight: 900;
    font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
    color: var(--primary);
    background: rgba(9, 0, 0, 0.5) url("https://res.cloudinary.com/dvozbuwkx/image/upload/v1707929310/imagen_titulo_2_vw5zm5.webp");
    background-size: auto 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: codely 40s linear infinite;
  }

  @keyframes codely {

    0%,
    100% {
      background-position: center 0;
    }

    50% {
      background-position: 200% center;
    }
  }
}